<div class="text-center">
  <h1 class="text-4xl font-bold mt-4">Patch Notes</h1>
  <br>
  <ul>
    <li><a class="underline text-black hover:text-[#bf04ff]" href="/patch_notes">Index</a></li>
    <br>
    <% Dir.children(Rails.root.join('app', 'views', 'patch_notes')).sort { |a, b| b <=> a }.each do |patch_note| %>
      <% if patch_note.split('.html.erb').first.match(/v[0-9]+.[0-9]+.[0-9]+/) %>
        <li><a class="underline text-black hover:text-[#bf04ff]" href="/patch_notes/<%= patch_note.split('.html.erb').first.gsub('_', '.') %>"><%= patch_note.split('.html.erb').first.gsub('_', '.') %></a></li>
        <br>
      <% end %>
    <% end %>
  </ul>
</div>
