<div class="flex justify-between p-8">
  <div class="w-full">
    <h1 class="text-4xl font-bold text-center">Patch Notes v1.0.0</h1>
    <br>
    <h4 class="text-xl font-bold">September 13, 2023 · <%= distance_of_time_in_words_to_now(Date.new(2023, 9, 13)) %> ago</h4>
    <p><em>by: Patrick Kim</em></p>
    <br>
    <p class="border-b-2 border-black">Welcome to the very first patch notes! Documentations are always important and letting users of all type to know the implementations, bug fixes, and notes in general are essential to everyone. I'll start with a quick introduction then lead to strictly notes with a little bit of jazz.</p>
    <br>
    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">New Implementations</h2>
    </div>
    <br>
    <ul class="border border-black p-4">
      <div class="divide-y-2 divide-black">
        <p><em>How exciting! Our first documentations on all the implementations that first generated this website!</em></p>
        <br>
        <p></p>
      </div>
      <br>
      <li><strong>Landing Page</strong></li>
      <br>
      <p><em>We want to start off the website with a home / landing page. Essentially, it is the portfolio page. Need to represent myself after all.</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>Created README file in Github, made a brief introduction and listed out the techstack the application is using. <a class="underline text-black hover:text-[#bf04ff]" href="https://github.com/pkim050/pkim_portfolio#readme">Click here</a> to see.</li>
        <li>Displayed professional photo of myself.</li>
        <li>Created my own website logo which shows up as the browser tab icon.</li>
        <li>Title is 'Patrick Kim'.</li>
        <li>Currently just displaying a TODO list for me to complete in the future.</li>
        <li>Although it says to click my photo, nothing will happen, will update that in the future.</li>
        <li>Changed the background color from white to gray.</li>
      </ul>
    </ul>
  </div>
  <div>
    <%= render partial: 'versions' %>
  </div>
</div>
