<h1>New blog post</h1>
<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-[#bf04ff] overflow-hidden shadow-sm sm:rounded-lg">
      <div class="p-6 bg-black border-b border-[#bf04ff]">
        <%= render "form", locals: { blog_post: blog_comment.blog_post, user: } %>
      </div>
    </div>
  </div>
</div>
