<h1 class="text-4xl font-bold text-center mt-8">Career Timeline</h1>

<div class="grid grid-cols-12 mt-8 mx-8">
  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">October 2019</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Graduated from a coding bootcamp called Flatiron</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black text-right">
      With only a minor degree of computer science, I had to accomplish more. After being a data analyst for three years,
      I attended Flatiron and received my certificate of completion. Tech stacks were Sinatra, Ruby on Rails, Ruby, React,
      Javascript, HTML, CSS, Heroku, Slack, etc.
    </p>
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <img class="h-40 max-w-xs" src="https://upload.wikimedia.org/wikipedia/commons/6/61/FS_wiki.png" alt="Flatiron">
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <img src="https://i.gyazo.com/ffa6ebd8a9b649042e1b1d9d581e607d.png" alt="blit slogan">
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">December 2019</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Systems Engineer</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black">
      Blit, Inc. Added extra inputs in the drop down menu from partial form and updated the partial form to show and/or hide certain
      fields depending on the inputs by the user. Refactored several scripts. Solved incidents and bugs that involved with
      Trade-In application. Tech stacks were Ruby on Rails, HTML, CSS, Javascript, AWS, Slack, Circle CI, Jenkins, Github,
      Asana, etc.
    </p>
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">March 2020</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Apple acquired Blit</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black text-right">
      The entire Blit team was converted to Apple employee. I was an exception as I was still new to the company. I was
      put into a contract instead.
    </p>
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <img class="h-28 max-w-md" src="https://bluestarcommercialfinancing.com/images/photo-acquisition.jpg" alt="apple acquisition">
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <img class="h-64" src="https://sgi1.offerscdn.net/i/production/published/65/filename/18156.h325.w325.flim.bffffff.jpg" alt="Apple Trade In">
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">March 2020 - September 2021</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Systems Engineer II</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black">
      Apple. Lead three projects to go live with trade in program for three different countries; Hong Kong, Korea, and Taiwan.
      Acted as team leader of systems engineer team of three as the leader got promoted. Remediated any bugs and incidents
      that our trade in portal had. Configured and adjusted trade in program that were specific to each countries such as
      languages, drop down menus, etc. Designed and developed a search feature in UI. Refactored some features in the
      portal to avoid customer impact complications. Worked on all invoices by creating and utilizing scripts and
      maintaining them via CSV files. Tech stacks were Ruby on Rails, HTML, CSS, Javascript, AWS, Slack, Datadog, Circle
      CI, Jenkins, Github, Wrike, etc.
    </p>
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">November 2021 - December 2022</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Software Engineer</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black text-right">
      First American. Fully migrated and integrated several product applications to the cloud using Azure services through Docker,
      Terraform, Helm Charts, & Kubernetes. Implemented Sidekiq to convert all existing jobs to improve application's
      performance. Introduced PaperTrail for auditing purposes. Fully optimized deployment strategy to increase efficiency,
      dramatically decrease merge conflicts, and to decrease the chances of deployment failures. Tech stacks were Ruby on
      Rails, HTML, CSS, Javascript, Docker, Kubernetes, Microsoft Teams, Azure Cloud Services, JIRA, Splunk, etc.
    </p>
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <img class="h-auto max-w-md" src="https://www.paymints.io/wp-content/uploads/sites/2/2022/11/FA_TrustBankingSrvs_Horz_2Clr_300-scaled.jpg" alt="First American Trust Banking Services">
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <img class="h-auto max-w-md" src="https://i.ytimg.com/vi/jaZLEaEkEMY/maxresdefault.jpg" alt="Rails 7 with Stimulus, Turbo, and TailwindCSS">
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">January 2023 - September 2023</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Software Engineer II</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black">
      First American. Upgraded gems and yarn packages to remediate vulnerabilities to avoid code flaws. Implemented features that had heavy
      resource impact worldwide, maintaining trust with stakeholders and clients and ensuring cost-efficiency. Managed and
      lead the development team of three developers by maintaining and consistently updating documentations, flow charts,
      and onboarding process. Facilitated majority of pair programming with teammates. Solely handled all cloud and server
      configurations with a new application that was built out in 2023. Achieved Microsoft Azure Fundamentals certificate.
      Introduced Rails 7, Stimulus, Turbo, and Tailwind CSS to the team for the new application that was built in 2023. Tech
      stacks were Ruby on Rails, HTML, CSS, Javascript, Docker, Kubernetes, Microsoft Teams, Azure Cloud Services, JIRA,
      Splunk, etc.
    </p>
  </div>

  <div class="grid col-start-1 col-end-6 justify-items-end mb-40">
    <time class="mb-1 font-bold leading-none text-black dark:text-black">Current</time>
    <h3 class="text-lg font-semibold text-black dark:text-white">Software Engineer</h3>
    <p class="mb-4 text-base font-normal text-black dark:text-black text-right">
      Looking for new opportunities to continue my journey on my career growth! Super excited as to where my journey lies.
      Meanwhile, I created my own website from scratch. Tech stacks are Ruby on Rails, Turbo, Stimulus, Tailwind CSS, VPS,
      etc. Interested in contacting me? Please email me at
      <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="mailto: patrick.aaron.kim@gmail.com">patrick.aaron.kim@gmail.com</a>.
      Thank you!
    </p>
  </div>
  <div class="grid col-start-6 col-end-7 justify-items-center">
    <div class="border-s border-black dark:border-gray-700"></div>
    <div class="absolute w-3 h-3 bg-[#bf04ff] rounded-full mt-1.5 border border-black dark:border-gray-900 dark:bg-gray-700"></div>
  </div>
  <div class="grid col-start-7 col-end-13 mb-40">
    <img class="h-40 max-w-xs" src="https://patrickaaronkim.com/assets/pkim_logo-413a617aba26c8e541b2adfe445facd6c575c6165b1e7c50b2ac4cd2612ee46d.png" alt="Patrick Aaron Kim website's logo">
  </div>
</div>
