<div class="container mx-auto pt-5">
  <h1 class="text-3xl underline">Home Page</h1>
  <p>This is where a portfolio page will be.</p>
  </br>
  <p>This will also have links that will direct the user to other pages such as Q&A Forum, blog, resume, etc</p>
  </br>
  <p> Wanted to created a <strong>TODO</strong> list:</p>
  <ul class="list-disc">
    <li>Create a navigation bar</li>
    <li>Create and upload brand/icon for navigation and icon on tab</li>
    <li>Install devise for user registration/login and possibly authentications</li>
    <li>Install dark mode / light mode toggle</li>
    <li>Create a blog</li>
    <li>Create Q&A Forum</li>
    <li>Link resume, making it pdf viewable through browser on new tab</li>
    <li>Link wedding website</li>
    <li>Style pages with your own concepts</li>
    <li>Create a footer</li>
  </ul>
</div>
