<div class="grid place-items-center h-screen mt-20">
  <h1 class="text-3xl">Software Engineer</h1>
  </br>
  <p>Three to four years of Software Engineer experience with Ruby on Rails and many more. Love what I do and have a lot of passion to continuously learn.</p>
  <p>
    For more info, please click my photo below!
  </p>
  </br>
  <%= image_tag "pat_kim.png", class: "rounded-full max-w-xs" %>
  </br>
  <p>This will also have links that will direct the user to other pages such as Q&A Forum, blog, resume, etc</p>
  </br>
  <p>Wanted to created a <strong>TODO</strong> list (In <em>unordered</em> list):</p>
  <ul class="list-disc">
    <li class="line-through">Create a navigation bar</li>
    <li class="line-through">Create and upload brand/icon for navigation and icon on tab</li>
    <li class="line-through">Install devise for user registration/login and possibly authentications</li>
    <li>Install dark mode / light mode toggle</li>
    <li class="line-through">Create a blog post MVC reference with user</li>
    <li class="line-through">Create blog comment, reference with user and blog post</li>
    <li>Have the comments be creatable/editable/deletable all under blog post show page</li>
    <li>Have the comments be actionable when user logged in, if not, they will be directed to login</li>
    <li class="line-through">Implement pagination for blog index page</li>
    <li class="line-through">Implement line clamp and text word break</li>
    <li>Create Q&A Forum</li>
    <li>Link resume, making it pdf viewable through browser on new tab</li>
    <li>Link wedding website</li>
    <li>Style pages with your own concepts</li>
    <li>Create a footer</li>
    <li>Implement patch notes section</li>
    <li class="line-through">Install rich text editor for your blogs and any other models that might need them; try tinymce</li>
    <li class="line-through">Implement cancancan gem to limit abilities for users</li>
    <li>Have the web application live on production</li>
    <li>Input web application version on footer. make it linkable towards patch notes sections</li>
    <li>Install sidekiq and redis</li>
    <li>Install paper-trail gem</li>
    <li>Maybe install docker?</li>
    <li>Many more to come...</li>
  </ul>
</div>
