<div class="grid place-items-center h-screen mt-20">
  <h1 class="text-3xl">Software Engineer</h1>
  </br>
  <p>Three to four years of Software Engineer experience with Ruby on Rails and many more. Love what I do and have a lot of passion to continuosly learn.</p>
  <p>
    For more info, please click my photo below!
  </p>
  </br>
  <%= image_tag "pat_kim.png", class: "rounded-full max-w-xs" %>
  </br>
  <p>This will also have links that will direct the user to other pages such as Q&A Forum, blog, resume, etc</p>
  </br>
  <p>Wanted to created a <strong>TODO</strong> list:</p>
  <ul class="list-disc">
    <li>Create a navigation bar</li>
    <li>Create and upload brand/icon for navigation and icon on tab</li>
    <li>Install devise for user registration/login and possibly authentications</li>
    <li>Install dark mode / light mode toggle</li>
    <li>Create a blog</li>
    <li>Create Q&A Forum</li>
    <li>Link resume, making it pdf viewable through browser on new tab</li>
    <li>Link wedding website</li>
    <li>Style pages with your own concepts</li>
    <li>Create a footer</li>
  </ul>
</div>
