<div class="grid place-items-center mt-20">
  <h1 class="text-3xl">Software Engineer</h1>
  </br>
  <p>Three to four years of Software Engineer experience with Ruby on Rails and many more. Love what I do and have a lot of passion to continuously learn.</p>
  <p>
    For more info, please click my photo below!
  </p>
  </br>
  <%= image_tag "pat_kim.png", class: "rounded-full max-w-xs" %>
  </br>
  <p>This will also have links that will direct the user to other pages such as Q&A Forum, blog, resume, etc</p>
  </br>
  <p>Wanted to created a <strong>TODO</strong> list (In <em>unordered</em> list):</p>
  <ul class="list-disc">
    <li class="line-through">Create a navigation bar</li>
    <li class="line-through">Create and upload brand/icon for navigation and icon on tab</li>
    <li class="line-through">Install devise for user registration/login and possibly authentications</li>
    <li>Install dark mode / light mode toggle</li>
    <li class="line-through">Create a blog post MVC reference with user</li>
    <li class="line-through">Create blog comment, reference with user and blog post</li>
    <li class="line-through">Have the comments be creatable/editable/deletable all under blog post show page using turbo stream</li>
    <li class="line-through">Have the comments be actionable when user logged in, if not, they will be directed to login</li>
    <li class="line-through">Implement pagination for blog index page</li>
    <li class="line-through">Implement line clamp and text word break</li>
    <li class="line-through">Implement a scroll to top button</li>
    <li>Create Q&A Forum</li>
    <li>Link resume, making it pdf viewable through browser on new tab</li>
    <li>Link wedding website</li>
    <li>Style pages with your own concepts</li>
    <li class="line-through">Create a footer</li>
    <li class="line-through">Implement patch notes section</li>
    <li class="line-through">Input web application version on footer. make it linkable towards patch notes sections</li>
    <li class="line-through">Install rich text editor for your blogs and any other models that might need them; try tinymce</li>
    <li class="line-through">Implement cancancan gem to limit abilities for users</li>
    <li class="line-through">Install and configure Capistrano in order to automate deployment in production</li>
    <li class="line-through">Have the web application live on production</li>
    <li>Install sidekiq and redis</li>
    <li>Install paper-trail gem</li>
    <li class="line-through">Maybe install docker? (Nah, not needed)</li>
    <li class="line-through">Utilize Nginx and Apache 2 and proxy them towards port 3000</li>
    <li class="line-through">Install SSL and enable the HTTPS</li>
    <li class="line-through">Install and configure RSpec testing along with Rubocop and Capybara</li>
    <li class="line-through">Finish RSpec testing for Patch Notes</li>
    <li>Finish RSpec testing for Blog Posts and Blog Comments / Replies</li>
    <li>Finish RSpec testing for home page including navigation bar and footer.</li>
    <li>Create a timeline for about me page.</li>
    <li>Briefly explain past projects and promise to create them under this current application in the future.</li>
    <li>Many more to come...</li>
  </ul>
  </br></br>
  <strong>Thought processes:</strong>
  <ul class="list-disc">
    <li>Maybe have association of order instead of specifying in views everytime</li>
  </ul>
</div>
