<h1 class="text-4xl font-bold text-center">Projects</h1>

<p class="m-8">
  Majority of my past projects were created during the time I was in the bootcamp. In order to pass the curriculum,
  I had to complete several projects. They all have been deployed to Heroku but Heroku unfortunately does not have
  free tokens any longer. Because of this, none of my past projects are currently live. With this current website up,
  I am planning on reviving them under the same VPS but with improved schematics and under updated versions. I am also
  planning to create more projects in the future. For now, I will just provide links/videos of my previous projects until
  I finished creating these projects again and have the users be able to interact with them.
</p>

<div class="divide-y divide-[#bf04ff] text-center">
  <div>
    <a class="underline" href="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">Hair Salon Website</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" ref="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">
        <img src="https://i.gyazo.com/51f5033d1af2ba30814fa3798702719b.png" alt="Hair Salon Website">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>

  <div>
    <br>
    <a class="underline" href="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">React Project: NBA Rosters</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" href="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">
        <img src="https://i.gyazo.com/51f5033d1af2ba30814fa3798702719b.png" alt="React Project: NBA Rosters">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>

  <div>
    <br>
    <a class="underline" href="https://youtu.be/eYNMGl82EhY" target="_blank" rel="noopener">JavaScript Project: AirGnB v2</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" href="https://youtu.be/eYNMGl82EhY" target="_blank" rel="noopener">
        <img src="https://i.gyazo.com/51f5033d1af2ba30814fa3798702719b.png" alt="JavaScript Project: AirGnB v2">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>

  <div>
    <br>
    <a class="underline" href="https://youtu.be/O1RW18oiAS8" target="_blank" rel="noopener">Rails Project: AirGnB</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" href="https://youtu.be/O1RW18oiAS8" target="_blank" rel="noopener">
        <img src="https://i.gyazo.com/51f5033d1af2ba30814fa3798702719b.png" alt="Rails Project: AirGnB">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>

  <div>
    <br>
    <a class="underline" href="https://youtu.be/FMqgMOtN16E" target="_blank" rel="noopener">Sinatra App: NBA All Star Fantasy Team</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" href="https://youtu.be/FMqgMOtN16E" target="_blank" rel="noopener">
        <img src="https://i.gyazo.com/51f5033d1af2ba30814fa3798702719b.png" alt="Sinatra App: NBA All Star Fantasy Team">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>

  <div>
    <br>
    <a class="underline" href="https://medium.com/@christine_tran/tic-tac-toe-game-ruby-style-cli-7bf619021e5d" target="_blank" rel="noopener">Ruby Project: Player-Rater</a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end" href="https://medium.com/@christine_tran/tic-tac-toe-game-ruby-style-cli-7bf619021e5d" target="_blank" rel="noopener">
        <img src="https://www.westonludeke.com/wp-content/uploads/2020/06/tictactoe.png" alt="Ruby Project: Tic Tac Toe">
      </a>

      <p class="text-left ml-4">An app.</p>
    </div>
    <br>
  </div>
</div>
