<h1 class="text-4xl font-bold text-center mt-4">Projects</h1>

<p class="m-8">
  Majority of my past projects were created during the time I was in the bootcamp. In order to pass the curriculum,
  I had to complete several projects. They all have been deployed to Heroku but Heroku unfortunately does not have
  free tokens any longer. Because of this, none of my past projects are currently live. With this current website up,
  I am planning on reviving them under the same VPS but with improved schematics and under updated versions. I am also
  planning to create more projects in the future. For now, I will just provide links/videos of my previous projects until
  I finished creating these projects again and have the users be able to interact with them.
</p>

<div class="divide-y divide-[#bf04ff] text-center">
  <div>
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://www.yelp.com/biz/only-you-salon-los-angeles-2" target="_blank" rel="noopener">
      Only You Salon
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://www.yelp.com/biz/only-you-salon-los-angeles-2" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://s3-media0.fl.yelpcdn.com/bphoto/tuTa-iEEqLcYeiulhhOkUA/348s.jpg" alt="Hair Salon Website">
      </a>

      <p class="text-left ml-4">
        A hair salon website I created for my mom in order to help out with her own business. It was a single page that
        provided info regarding pricing of services and products, who the employees are and what they do, and office
        hours. It was a simple and clean interface. For some reason, I can't find this project so the link is their yelp
        page. Tech stacks were Gatsby, React, Javascript, Bootstrap, and CSS.
      </p>
    </div>
    <br />
  </div>

  <div>
    <br />
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">
      React Project: NBA Rosters
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://youtu.be/K8eDpUrGatA" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://i.gyazo.com/88c64ff96b7bb614ec09860eaf223871.png" alt="React Project: NBA Rosters">
      </a>

      <p class="text-left ml-4">
        Last project for bootcamp. I created two applications; one was an API application and the other is a react
        application that utilized the API. A simple application that gave information of what the current NBA teams are,
        which NBA players and head coaches are currently in each team, and NBA players information such as position,
        height, weight, jersey number, age, and lastly, the ability to trade an NBA player to a different team. Tech stacks
        were React, Ruby on Rails, Javascript, CSS, and HTML.
      </p>
    </div>
    <br />
  </div>

  <div>
    <br />
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://youtu.be/eYNMGl82EhY" target="_blank" rel="noopener">
      JavaScript Project: AirGnB v2
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://youtu.be/eYNMGl82EhY" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://i.gyazo.com/177bc2382eb036093615e7721266bfde.png" alt="JavaScript Project: AirGnB v2">
      </a>

      <p class="text-left ml-4">
        Continuation of Rails Project: AirGnB. I added in Javascript to showcase on how to render forms, show page, and
        etc without having to redirect or direct user to a page.
      </p>
    </div>
    <br />
  </div>

  <div>
    <br />
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://youtu.be/O1RW18oiAS8" target="_blank" rel="noopener">
      Rails Project: AirGnB
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://youtu.be/O1RW18oiAS8" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://i.gyazo.com/8f7cc10b5ca1166d2445571ac5b87ad5.png" alt="Rails Project: AirGnB">
      </a>

      <p class="text-left ml-4">
        Third project for bootcamp. AirGnB was a web application that copied AirBnB except, instead of hosting or
        booking for places to stay, AirGnB is for hosting or booking for basketball gyms. Tech stacks were Ruby on Rails,
        CSS, and HTML.
      </p>
    </div>
    <br />
  </div>

  <div>
    <br />
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://youtu.be/FMqgMOtN16E" target="_blank" rel="noopener">
      Sinatra App: NBA All Star Fantasy Team
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://youtu.be/FMqgMOtN16E" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://i.gyazo.com/2517e18e8f8cd9a72045ead0b9adeb3d.png" alt="Sinatra App: NBA All Star Fantasy Team">
      </a>

      <p class="text-left ml-4">
        Second project for bootcamp. It is a web application where it lets the user choose thirteen maximum players who
        they think is best to create an all star team. Using AJAX to fetch an API through another application called
        player-rater in order to get the list of all NBA players that were active during that time. Tech stacks were
        Sinatra, Ruby, CSS, and HTML.
      </p>
    </div>
    <br />
  </div>

  <div>
    <br />
    <a class="underline font-bold hover:text-[#bf04ff] active:text-pink-300" href="https://medium.com/@christine_tran/tic-tac-toe-game-ruby-style-cli-7bf619021e5d" target="_blank" rel="noopener">
      Ruby Project: Tic Tac Toe CLI
    </a>

    <div class="grid grid-cols-2 mt-8 mx-8">
      <a class="grid justify-items-end pointer-events-none" href="https://medium.com/@christine_tran/tic-tac-toe-game-ruby-style-cli-7bf619021e5d" target="_blank" rel="noopener">
        <img class="pointer-events-auto" src="https://www.westonludeke.com/wp-content/uploads/2020/06/tictactoe.png" alt="Ruby Project: Tic Tac Toe">
      </a>

      <p class="text-left ml-4">
        First project for bootcamp. Our goal was to create a tic tac toe game through the CLI. Every time a user would
        input a turn, the terminal will be outputting updated version of the tic tac toe board. There is no video for
        this, so I went ahead and linked a blog that is talking about the same exact thing.
      </p>
    </div>
    <br />
  </div>
</div>
