<!-- component -->
<body>
  <footer class="fixed bottom-0 z-20 w-full p-4 bg-black">
    <span class="text-sm text-[#bf04ff] sm:text-center hover:text-pink-300 dark:text-gray-400 flex items-center justify-center">© 2023 &nbsp<a href="https://www.patrickaaronkim.com/" class="hover:underline">Patrick Aaron Kim™</a>. All Rights Reserved.</span>
  </footer>
</body>
